<div class="container about">
  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/images/Adam_P.png" class="img-fluid rounded-5" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">About me</h5>
          <p class="card-text">I am a frontend developer with expertise in designing and developing user interfaces for
            web applications. I have a strong command of HTML, CSS, and JavaScript, and I also have hands-on experience
            working with Angular. I have
            utilized Angular to build robust and scalable applications, leveraging its powerful features and
            component-based
            architecture.</p>
        </div>
      </div>
    </div>
  </div>
</div>

