.nav--hidden {
  transform: translateY(-75px);
  transition: .25s ease-in-out;
}

.navbar {
  top: 16px;
  transition: .25s ease-in-out;
}

.progressBar {
  position: sticky;
  top: 0;
  z-index: 1111;
}

.navbar-nav {
  background-color: var(--bs-gray-100);
  margin-left: -11px;
  margin-top: 7px;
  padding-left: 11px;
  position: absolute;
  width: -webkit-fill-available;
}
