<div #progress class="progress sticky-top" [class.progressBar]="!isNavHidden">
  <div class="progress-bar progress-bar-striped bg-warning " role="progressbar" [style.width.%]="scrollPosition"
       aria-valuemin="0" aria-valuemax="100">{{ scrollPosition | number: '1.0-0'}}%
  </div>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top"
     [class.nav--hidden]="isNavHidden">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" (click)="scrollToAbout()">
          <a class="nav-link active" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/skills" (click)="scrollToSkills()">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/work_experience" (click)="scrollToExperience()">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects" (click)="scrollToProjects()">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" (click)="scrollToContact()">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
