body {
  --nav-height: 50px;
}

.nav--hidden {
  transform: translateY(-75px);
  transition: .25s ease-in-out;
}

.navbar {
  top: 16px;
  transition: .25s ease-in-out;

}

.progressBar {
  top: 0;
  position: sticky;
  z-index: 1111;
}

