<div class="container">
  <h3 class="text-center">Work Experience</h3>
  <div class="row justify-content-evenly">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Junior Frontend Developer | Transition Technologies Managed Services <span>04.2022 r. – 06.2023 r.</span></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"> Creating front-end pages in AEM technology</h6>
        <p class="card-text">Scope:</p>
        <ul>
          <li>using GitLab version control system</li>
          <li>working with the backend team</li>
          <li>attending daily stand-ups</li>
          <li>developing new features in AEM technology</li>
        </ul>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Intern Frontend Developer |  Transition Technologies Managed Services<span>07.2021 r. – 09.2021 r.</span></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">  Creation of programming interface for the Application coordinating the operation of the company’s support department.</h6>
        <p class="card-text">Scope:</p>
        <p>Create front-end side in Angular 12 Framework.</p>
        <ul>
          <li>implementing infinity scroll for displaying the list of user’s own tickets</li>
          <li>implementing paginations and filtration</li>
          <li>layout based on Material UI</li>
          <li>using GitLab for version control</li>
          <li>making basic mockups using Figma tool</li>
          <li>working face to face with backend team</li>
          <li>attending daily stand-ups</li>
        </ul>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Seasonal work |  Working abroad <span>2015 – 2019</span></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">During my time working abroad, I gained practical experience in the following areas:</h6>
        <ul>
          <li>learning the English language</li>
          <li>working with people</li>
          <li>performing tasks under time pressure</li>
          <li>learning operating machines</li>
        </ul>
      </div>
    </div>
  </div>

</div>
