<div class="skills mb-5">
  <div class="mb-5">
    <h2 class="text-center">Technologies I work with.</h2>
  </div>
 <div class="orbit ">
   <h2  class="center-image">Technologies I work with.</h2>
   <div class="circle">
     <ul>
       <li>
         <img src="assets/images/icons8-angular-96.png" alt="">
         <p>Angular</p>
       </li>
       <li>
         <img src="assets/images/icons8-html-96.png" alt="">
         <p>HTML</p>
       </li>
       <li>
         <img src="assets/images/icons8-css-96.png" alt="">
         <p>CSS</p>
       </li>
       <li>
         <img src="assets/images/icons8-javascript-96.png" alt="">
         <p>JavaScript</p>
       </li>
       <li>
         <img src="assets/images/icons8-sass-96.png" alt="">
         <p>Sass</p>
       </li>
       <li>
         <img src="assets/images/icons8-bitbucket-is-a-web-based-version-control-repository-hosting-service-96.png" alt="">
         <p>Bitbucket</p>
       </li>
       <li>
         <img src="assets/images/icons8-figma-96.png" alt="">
         <p>Figma</p>
       </li>
       <li>
         <img src="assets/images/icons8-git-96.png" alt="">
         <p>Git</p>
       </li>
       <li>
         <img src="assets/images/icons8-jira-96.png" alt="">
         <p>Jira</p>
       </li>
       <li>
         <img src="assets/images/icons8-material-ui-96.png" alt="">
         <p>Material UI</p>
       </li>
       <li>
         <img src="assets/images/icons8-mysql-96.png" alt="">
         <p>MySQL</p>
       </li>
       <li>
         <img src="assets/images/icons8-typescript-96.png" alt="">
         <p>TypeScript</p>
       </li>
       <li>
         <img src="assets/images/icons8-visual-studio-code-2019-96.png" alt="">
         <p>Visual Studio Code</p>
       </li>
       <li>
         <img src="assets/images/icons8-webstorm-96.png" alt="">
         <p>WebStorm</p>
       </li>
       <li>
         <img src="assets/images/rxjs-seeklogo.com.svg" style="width: 96px" alt="">
         <p>RxJS</p>
       </li>
     </ul>
   </div>
 </div>
</div>
