.orbit {
  --size: 12rem;
  display: grid;
  height: 100vh;
  place-content: center;
  overflow: hidden;

  .center-image {
    width: var(--size);
    position: relative;

    img {
      position: absolute;
      transition: opacity 350ms;

      &:not(:first-child):hover {
        opacity: 0;
      }
    }
  }
  .circle {
    position: absolute;
    transform: translate(50%,50%);
    border: 1px solid gray;
    border-radius: 50%;
    width: 500px;
    height: 500px;
  }

  ul {
    width: var(--size);
    height: var(--size);
    position: relative;
    list-style: none;
    transform-origin: center;
    animation: orbit 40s linear infinite;
    display: grid;
    place-items: center;
    left: 31%;
    top: 33%;

    &:hover {
      animation-play-state: paused;

      & * {
        animation-play-state: paused;
      }
    }
  }

  li {
    aspect-ratio: 1/1;
    background: var(--icon-bg);
    border-radius: 50%;
    color: var(--white-light);
    font-weight: 500;
    line-height: 1;
    overflow: hidden;
    position: absolute;
    width: 5rem;
    display: grid;
    place-items: center;
    //animation: throb 2s ease infinite alternate;
    & > * {
      position: absolute;
      animation: orbit 40s reverse linear infinite,
    throb 1s 1000s ease infinite alternate;

    }

    img {
      width: 80px;
    }

    p {
      background: var(--orange-dark);
      width: 100%;
      height: 100%;
      display: grid;
      place-content: center;
      opacity: 0;
      transition: opacity 500ms;
    }

    &:hover p {
      opacity: 1;
    }
  }


  li:first-child {
    opacity: 1;
    transform: translateX(300px);
  }

  li:nth-child(1) {
    --icon-bg: var(--purple-light);
    --text-bg: var(--purple-dark);
    transform: translate(15rem, 0rem);
  }

  li:nth-child(2) {
    --icon-bg: var(--green-light);
    --text-bg: var(--green-dark);
    transform: translate(11rem, 11rem);
  }

  li:nth-child(3) {
    --icon-bg: var(--pink-light);
    --text-bg: var(--pink-dark);
    transform: translate(-1rem, 15rem);
  }

  li:nth-child(4) {
    --icon-bg: var(--red-light);
    --text-bg: var(--red-dark);
    transform: translate(-13rem, 9rem);
  }

  li:nth-child(5) {
    --icon-bg: var(--brown-light);
    --text-bg: var(--brown-dark);
    transform: translate(-15rem, -4rem);
  }

  li:nth-child(6) {
    --icon-bg: var(--yellow-light);
    --text-bg: var(--yellow-dark);
    transform: translate(-12rem, -10rem);
  }

  li:nth-child(7) {
    --icon-bg: var(--purple-light);
    --text-bg: var(--purple-dark);
    transform: translate(-1rem, -16rem);
  }

  li:nth-child(8) {
    --icon-bg: var(--orange-light);
    --text-bg: var(--orange-dark);
    transform: translate(14rem, -6rem)
  }

  li:nth-child(9) {
    --icon-bg: var(--orange-light);
    --text-bg: var(--orange-dark);
    transform: translate(6rem, -15rem);
  }

  li:nth-child(10) {
    --icon-bg: var(--orange-light);
    --text-bg: var(--orange-dark);
    transform: translate(-7rem, -14rem);
  }

  li:nth-child(11) {
    --icon-bg: var(--orange-light);
    --text-bg: var(--orange-dark);
    transform: translate(5rem, 14rem);
  }

  li:nth-child(12) {
    --icon-bg: var(--orange-light);
    --text-bg: var(--orange-dark);
    transform: translate(-15rem, 3rem);
  }

  li:nth-child(13) {
    --icon-bg: var(--orange-light);
    --text-bg: var(--orange-dark);
    transform: translate(-8rem, 14rem);
  }

  li:nth-child(14) {
    --icon-bg: var(--orange-light);
    --text-bg: var(--orange-dark);
    transform: translate(11rem, -11rem);
  }

  li:nth-child(15) {
    --icon-bg: var(--orange-light);
    --text-bg: var(--orange-dark);
    transform: translate(14rem, 6rem);
  }


}

@keyframes orbit {
  100% {
    rotate: 1turn;
  }
}

@keyframes throb {
  100% {
    scale: 1.05;
  }
}
@media only screen and (max-width: 1024px) {
  .orbit{
    .circle {
      transform: translate(35%,50%);

    }
  }
}
@media only screen and (max-width: 1024px) {
  .orbit{
    .circle {
      transform: translate(15%,50%);

    }
  }
}
